
      <div class="container">
        <div class="row">

          <div class="col"> 
            <div class="songtitle">
              <%= @artistarray.first%> 
            </div>
          </div>

          <div class="col"> 
            <div class="pic-ctn">
              <% @posterarray.first(5).each do |poster| %>
                <img src=<%= poster %> class="pic" alt="poster" href="https://www.google.com">
                <% @posterarray.delete (poster)%>
              <%end%>
            </div>
          </div>

          <div class="w-100"></div>

          <div class="col"> 
            <div class="songtitletwo">
              <%= @artistarray.second%> 
            </div>
          </div>

          <div class="col"> 
            <div class="pic-ctn">
              <% @posterarray.first(5).each do |poster| %>
                <img src=<%= poster %> class="pic" alt="poster" >
                <% @posterarray.delete (poster)%>
              <%end%>
            </div>
          </div>

          <div class="w-100"></div>

          <div class="col"> 
            <div class="songtitlethree">
              <%= @artistarray.third%> 
            </div>
          </div>

          <div class="col"> 
            <div class="pic-ctn">
              <% @posterarray.first(5).each do |poster| %>
                <img src=<%= poster %> class="pic" alt="poster" >
                <% @posterarray.delete (poster)%>
              <%end%>
            </div>
          </div>

          <div class="w-100"></div>

          <div class="col"> 
            <div class="songtitlefour">
              <%= @artistarray.fourth%> 
            </div>
          </div>

          <div class="col"> 
            <div class="pic-ctn">
              <% @posterarray.first(5).each do |poster| %>
                <img src=<%= poster %> class="pic" alt="poster" >
                <% @posterarray.delete (poster)%>
              <%end%>
            </div>
          </div>

          <div class="w-100"></div>

          <div class="col"> 
            <div class="songtitlefive">
              <%= @artistarray.fifth%> 
            </div>
          </div>

          <div class="col"> 
            <div class="pic-ctn">
              <% @posterarray.first(5).each do |poster| %>
                <img src=<%= poster %> class="pic" alt="poster" >
                <% @posterarray.delete (poster)%>
              <%end%>
            </div>
          </div>

        </div>
      </div>

<%#end%>

 <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2022 Skimpyrat Inc. &middot; <a href="#">About</a> &middot; <a href="#">Contact</a></p>
  </footer>
</main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>




     



