<div>
  <div>
    <h1>
      Spotify account #<%= @the_spotify_account.id %> details
    </h1>

    <div>
      <div>
        <a href="/spotify_accounts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_spotify_account/<%= @the_spotify_account.id %>">
          Delete spotify account
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_spotify_account.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_spotify_account.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit spotify account
    </h2>

    <form action="/modify_spotify_account/<%= @the_spotify_account.id %>"  method="post" >
      <button>
        Update spotify account
      </button>
    </form>
  </div>
</div>

<hr>
